* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "comfortaa";
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  background-color: #f8f8f8;
  position: relative;
  padding: 0.1px;
}

#nav {
  height: 14vh;
  width: 100%;
  margin-top: 5vh;
  border-bottom: 2px solid #000;
  border-top: 2px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav h1 {
  font-size: 3.2vw;
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "monument";
  letter-spacing: -7px;
  position: relative;
}

#nav h1::before{
    content: "model management";
    font-family: 'work sans';
    font-weight: 400;
    font-size: 18px;
    position: absolute;
    bottom: 15%;
    right: 20%;
    letter-spacing: 0.1px;
}

#nav h1::after{
    content: "©️";
    font-family: 'work sans';
    font-weight: 400;
    font-size: 20px;
    position: absolute;
    top: 18%;
    right: 18%;
}

#nav h2 {
  font-size: 1.3vw;
  font-weight: 700;
  height: 100%;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid #000;
}

#nav h2:nth-last-child(2) {
  width: 25%;
}
#nav h2:nth-last-child(1) {
  width: 10%;
  padding-right: 2.5vw;
  border: none;
}

#nav h2:hover {
  text-decoration: underline;
  cursor: pointer;
}

#nav h2:nth-last-child(1):hover{
  text-decoration: none;
  color: #8b8a8a;
}

#nav i {
  font-size: 2.5vw;
  font-weight: 400;
}

#center {
  height: 90vh;
  width: 100%;
  padding: 3vw 7vw;
}
#content {
  height: 100%;
  width: 100%;
  position: relative;
}

#content video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#text-content {
  position: absolute;
  height: 50%;
  width: 100%;
  top: 50%;
  left: 0%;
  transform: translate(0%, 0%);
  background-color: rgba(0, 0, 0, 0.067);
  -webkit-transform: translate(0%, 0%);
  -moz-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
  -o-transform: translate(0%, 0%);
  padding: 1.5vw 4vw;
  backdrop-filter: blur(3px);
}

#text-content #top {
  display: flex;
  height: 70%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #fff;
  color: #fff;
}

#text-content #top h1 {
  font-family: "monument";
  font-size: 3.5vw;
}

#text-content #top h3 {
  padding: 1.4vw 1.5vw;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 1px solid #fff;
  font-size: 1vw;
  letter-spacing: 1px;
}

#text-content #bottom {
  display: flex;
  height: 30%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

#text-content i {
  font-size: 2.5vw;
}
#text-content i:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transition: ease-in-out;
  -webkit-transition: ease-in-out;
  -moz-transition: ease-in-out;
  -ms-transition: ease-in-out;
  -o-transition: ease-in-out;
  cursor: pointer;
}

#scroll {
  width: 100%;
  height: 40vh;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
}

#container {
  width: 110%;
  height: 100%;
  display: inline-block;
  animation: scroll;
  -webkit-animation: scroll;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#scroll img {
  width: 15%;
  height: 100%;
  border-radius: 50%;
  margin: 0 12px;
  object-fit: cover;
  object-position: top;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

@keyframes scroll {
  from {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
}

#alphabet {
  margin-top: 5vw;
  height: 12vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  padding: 0 5vw;
  font-style: italic;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  margin-bottom: 5vw;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

#alphabet h3 {
  margin-right: 2.5vw;
  text-decoration: underline;
}

#alphabet h4 {
  padding: 0.8vw 1vw;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

#alphabet h4:hover {
  border: 1px solid #000;
  background-color: #eeeeee;
}

#part2 {
  height: 120vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 7vw;
}

#part2 #left {
  height: 100%;
  width: 56%;
}

#part2 #left img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

#part2 #right {
  height: 100%;
  width: 39%;
}

#part2 #right img {
  height: 75%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

#part2 #right-content {
  display: flex;
  justify-content: space-between;
  padding-top: 2.5vw;
}

#part2 #right-content h3 {
  width: 40%;
  height: 100%;
  font-size: 1.8vw;
  letter-spacing: -1px;
  line-height: 2vw;
  font-weight: 600;
  font-family: "work sans";
}

#part2 #right-content p {
  font-size: 1.1vw;
  width: 50%;
  height: 100%;
  font-weight: 700;
}

#part3 #title {
  height: 15vh;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 7vw;
}

#part3 #title h1 {
  font-family: "monument";
  font-size: 3.2vw;
}

#part3 #top {
  height: 110vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2.5vw 7vw 0 7vw;
}

#part3 #top #left {
  height: 100%;
  width: 39%;
}

#part3 #top #left #left-img {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  position: relative;
}

#part3 #top #left #left-img img {
  width: 80%;
  height: 75%;
  animation-name: rotate;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#part3 #top #left i {
  position: absolute;
  top: 47%;
  left: 47%;
  translate: (0%, 0%);
  font-size: 3.5vw;
}

#part3 #top #left #left-content {
  height: 20%;
  width: 100%;
  display: flex;
  align-items: end;
  padding: 0 2.5vw;
}

#part3 #top #left #left-content h4 {
  font-size: 1.7vw;
  font-family: "work sans";
  font-weight: 600;
}

#part3 #top #right {
  height: 100%;
  width: 56%;
}

#part3 #top #right img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

#part3 #bottom {
  height: 120vh;
  width: 100%;
  padding: 7vw;
}

#part3 #bottom #bottom-content {
  height: 100%;
  width: 100%;
}
#part3 #bottom #bottom-content img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#part4 #title {
  height: 7.5vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 7vw;
}

#part4 #title h1 {
  font-family: "monument";
  font-size: 3.5vw;
}

#part4 #content {
  height: 110vh;
  width: 100%;
  padding: 5vw 7vw;
}
#part4 #content .card {
  height: 25%;
  border-top: 1.5px solid #000;
  border-bottom: 1.5px solid #000;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#part4 #content .card:hover {
  background-color: #e4e4e4;
}

#part4 #content .card .first {
  height: 100%;
  width: 10%;
}

#part4 #content .card .first h4 {
  padding: 2vw;
}

#part4 #content .card .second {
  height: 100%;
  width: 15%;
  display: none;
}

#part4 #content .card:hover .second {
  display: flex;
  justify-content: center;
  align-items: center;
}

#part4 #content .card .second img {
  width: 80%;
  height: 100%;
  object-fit: cover;
  object-position: 0 10%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding: 1vw;
}

#part4 #content .card .second .content {
  padding: 1vw;
}

#part4 #content .card h2 {
  font-size: 2.5vw;
  letter-spacing: -1px;
}

#part4 #content .card .third {
  height: 100%;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#part5 #top {
  height: 120vh;
  width: 100%;
  padding: 7vw 7vw 0 7vw;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5vw;
}

#part5 #top #left {
  width: 48%;
  height: 100%;
}

#part5 #top #left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

#part5 #top #right {
  width: 47%;
  height: 100%;
}

#part5 #top #right #right-content {
  height: 50%;
  width: 100%;
}

#part5 #top #right #right-content h1 {
  font-family: "monument";
  font-size: 3vw;
  margin-bottom: 3vw;
}

#part5 #top #right #right-content h2 {
  font-family: "work sans";
  font-weight: 600;
  font-size: 2vw;
  margin-bottom: 3vw;
}

#part5 #top #right #right-img {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#part5 #top #right #right-img #img1 {
  height: 100%;
  width: 55%;
}

#part5 #top #right #right-img #img1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

#part5 #top #right #right-img #img2 {
  height: 100%;
  width: 40%;
}

#part5 #top #right #right-img #img2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

#part5 #middle {
  height: 95vh;
  width: 100%;
  padding: 0 7vw;
}

#part5 #middle #content {
  height: 100%;
  width: 100%;
}

#part5 #middle #content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

#part5 #bottom {
  height: 140vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5vw 7vw;
}

#part5 #bottom #left {
  height: 100%;
  width: 56%;
}

#part5 #bottom #left img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

#part5 #bottom #right {
  height: 100%;
  width: 39%;
}

#part5 #bottom #right img {
  height: 70%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

#part5 #bottom #right-content {
  display: flex;
  justify-content: space-between;
  padding-top: 2.5vw;
}

#part5 #bottom #right-content h3 {
  width: 45%;
  height: 100%;
  font-size: 1.8vw;
  letter-spacing: -1px;
  line-height: 2vw;
  font-weight: 600;
  font-family: "work sans";
}

#part5 #bottom #right-content p {
  font-size: 1.1vw;
  width: 50%;
  height: 100%;
  font-weight: 700;
  letter-spacing: -1px;
  word-spacing: 1px;
}

#marquee{
    margin-top: 3vw;
    width: 100%;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 1vw;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

#marquee h1{
    display: inline-block;
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: 900;
    -webkit-text-stroke: 2px #000;
    color: transparent;
    letter-spacing: 2px;
    font-family: 'monument';
    margin-right: 16px;
    animation-name: marquee;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes marquee {
    from{
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 20px));
        -webkit-transform: translateX(calc(-100% - 20px));
        -moz-transform: translateX(calc(-100% - 20px));
        -ms-transform: translateX(calc(-100% - 20px));
        -o-transform: translateX(calc(-100% - 20px));
    }
}

#footer{
    height: 40vh;
    width: 100%;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
  height: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(255, 68, 0);
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
}
